data/geospatial/*
*data/geospatial/appended-state-leg
*data/geospatial/source
*data/geospatial/all
*data/source
*data/geospatial/topo-state-leg
*scripts/reproject.py
*scripts/mongo-to-csv.py
*scripts/sample.ipynb
*scripts/test.py
*map/.cache
*map/node_modules
*map/src/components/Map/OldMap.jsx
*package-lock.json
map/public/

data/cc_scorecard_06082021_yearstr.csv
data/cc_scorecard_06082021_yearstring.csv
data/cc_scorecard_06082021_yearstring.csv


*.DS_Store
*data/.DS_Store
*data/geospatial/.DS_Store
map/public/chunk-map.json
map/public/render-page.js
map/public/page-data/sq/d/2449685071.json

map/src/components/Map/screenshots.css
map/src/components/Map/Screenshots.js
map/config/screenshots.js

