scripts/data/geospatial/*
*data/geospatial/topo-state-leg
*scripts/reproject.py
*scripts/mongo-to-csv.py
*scripts/sample.ipynb
*scripts/test.py
*map/.cache
*map/node_modules
*map/src/components/Map/OldMap.jsx
map/public/

data/cc_scorecard_06082021_yearstr.csv
data/cc_scorecard_06082021_yearstring.csv
data/cc_scorecard_06082021_yearstring.csv


**/.DS_Store

map/src/components/Map/screenshots.css
map/src/components/Map/Screenshots.js
map/config/screenshots.js
