.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.wrapper > * {
    padding: 5px;
    flex: 1 100%;
}

.mapText {
    font-size: 28px;
    padding-bottom: 5px;
    float: left;
}

.resetText {
    font-size: 18px;
    float: right;
    padding-right: 1vw;
    padding-top: 10px;
}

.resetText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.map {
    height: 75vh;
    width: 60vw;
    padding-right: 15px;
}

/* .nav {
    background: pink;
}

.main {
    background: blue;
} */

.candidateText {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.aside-2 {
    background: #F4F4F4;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 1 0px; }
    .main    { order: 1; }
    .aside-2 { order: 2; }
}

body {
    padding: 1em; 
}
  