.wrapper {
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

/* tell all items to be 100% width, via flex-basis */
.wrapper > * {
    flex: 1 100%;
}

.mapText {
    font-size: 28px;
    padding-bottom: 5px;
    float: left;
}

.hidden {
    display: none;
}

.resetText {
    font-size: 18px;
    color: #333;
    float: right;
    padding-top: 10px;
    text-decoration: underline;
}

.resetText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.instructions {
    font-size: 24px;
    color: #C36C27;
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}


.map {
    height: 75vh;
    width: 60vw;
}

.main {
    padding-right: 15px;
}

.candidateText {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.aside {
    background: #F4F4F4;
    /* background: #000000; */
    /* display: none; */
}

body {
    padding: 0em;
    background: white;
}

.my-legend {
	bottom: 0!important;
    width: 350px;
    right: 30%;
	padding: 10px;
    background: white;
    z-index: 1!important;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.my-legend .legend-scale .legend-labels {
    display: flex;
}

.my-legend .legend-scale ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.my-legend .legend-scale ul li {
	display: block;
	width: 50px;
	text-align: center;
	font-size: 80%;
	list-style: none;
}

.my-legend .legend-labels div {
    text-align: center;
    font-size: 80%;
}

.my-legend .legend-labels div span {
	display: block;
	height: 15px;
	width: 50px;
}

.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}

.my-legend a {
	color: #777;
}

.scoreBox {
    background-color: white;
    width: 15vw;
    height: 13vh;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.scoreTitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 15px;
}

.scoreText {
    font-size: 26px;
    color: #C36C27;
    text-align: center;
}

.partyTitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 15px;
}

.partyText {
    font-size: 26px;
    color: #C36C27;
    text-align: center;
}

.votesText {
    font-weight: 700;
    font-size: 16px;
    color: #C36C27;
    float: left;
    /* overflow-y: auto;
    height: 200px; */
}

/* .voteTabs {
    float: right; */
    /* margin-bottom: 30px; */
/* } */

.vote1Tab, .vote2Tab, .vote3Tab, .vote4Tab, .vote5Tab {
    font-size: 12px;
    color: #C36C27;
    text-decoration: underline;
    float: right;
    margin-top: 2px;
    margin-right: 15px;
}

.vote1Tab:hover, .vote2Tab:hover, .vote3Tab:hover, .vote4Tab:hover, .vote5Tab:hover {
    cursor: pointer;
}

.vote1, .vote2, .vote3, .vote4, .vote5 {
    display: none;
    font-size: 17px;
    font-weight: 400;
}

div .details {
    visibility: hidden;
}

.actionButton {
    width: 250px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    background-color: #C36C27;
    color: white;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}

#takeActionCTA {
    text-decoration: none;
}

#takeActionCTA a:link {
    color: white;
}

#takeActionCTA a:visited {
    color: white;
}

/* 1059px and below */
/* tablet view */
@media only screen and (max-width: 1059px) {
    .mapText { font-size: 28px; }
    .map { height: 450px; width: 96vw; }
    .scoreBox { width: 45vw; height: 13vh; }
    .my-legend { bottom: 0%; left: 30%; }
    .aside { padding: 5px; }
    .vote1Tab, .vote2Tab, .vote3Tab, .vote4Tab, .vote5Tab { font-size: 16px; }
}

/* 895px and below */
/* transition view */
@media only screen and (max-width: 859px) {
    .map { height: 450px; width: 95vw; }
    .mapText { font-size: 18px; }
    .resetText { padding-top: 0px; }
    .my-legend { bottom: 0%; left: 30%; }
    .scoreBox { width: 45vw; height: 13vh; }
    .aside { padding: 5px; width: 80vw; }
    .map .mapboxgl-map { width: 100vw; }
}

/* 500px and below */
/* mobile view */
@media only screen and (max-width: 500px) {
    .map { height: 450px; width: 95vw; }
    .mapText { font-size: 18px; }
    .resetText { padding-top: 0px; }
    .my-legend { bottom: 0%; left: 30%; }
    .scoreBox { width: 45vw; height: 13vh; }
    .aside { padding: 5px; width: 80vw; }
    .map .mapboxgl-map { width: 100vw; }
    .my-legend { left: 20%; }
}

/* 600px and up */
@media all and (min-width: 600px) {
    .aside { flex: 1; }
}

/* 800px and up */
@media all and (min-width: 800px) {
    .main    { flex: 1 0px; }
    .wrapper { flex-flow: row wrap }
}
