.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.wrapper > * {
    padding: 5px;
    flex: 1 100%;
}

.mapText {
    font-size: 28px;
    padding-bottom: 5px;
    float: left;
}

.resetText {
    font-size: 18px;
    float: right;
    padding-top: 10px;
}

.resetText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.map {
    height: 75vh;
    width: 60vw;
}

/* .nav {
    background: pink;
} */

.main {
    /* background: blue; */
    padding-right: 15px;
}

.candidateText {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.aside-2 {
    background: #F4F4F4;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 1 0px; }
    .main    { order: 1; }
    .aside-2 { order: 2; }
}

body {
    padding: 0em; 
    background: white;
}

.my-legend {
	position: absolute;
	bottom: 50px;
	left: 20%;
	padding: 10px;
    background: white;
}

.my-legend .legend-scale ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

.my-legend .legend-scale ul li {
	display: block;
	float: left;
	width: 50px;
	margin-bottom: 6px;
	text-align: center;
	font-size: 80%;
	list-style: none;
}

.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 15px;
	width: 50px;
}

.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}

.my-legend a {
	color: #777;
}

.votesText {
    font-weight: 700;
    font-size: 16px;
    color: #C36C27;
    float: left;
    /* overflow-y: auto;
    height: 200px; */
}

.vote1Tab, .vote2Tab, .vote3Tab, .vote4Tab, .vote5Tab {
    font-size: 14px;
    color: #C36C27;
    text-decoration: underline;
    float: right;
    margin-top: 2px;
    margin-right: 15px;
}

.vote1Tab:hover, .vote2Tab:hover, .vote3Tab:hover, .vote4Tab:hover, .vote5Tab:hover {
    cursor: pointer;
}

.vote1Tab:active, .vote2Tab:active, .vote3Tab:active, .vote4Tab:active, .vote5Tab:active {
    color: #000000;
    text-decoration: none;
}

.vote1, .vote2, .vote3, .vote4, .vote5 {
    display: none;
    font-size: 20px;
    font-weight: 400;
}
  